@page "/"
@using ChatterBox.Services

<PageTitle>Index</PageTitle>

Enter an animal name 

<input @bind="_animalName"/>
<button @onclick="GetAnimalNames">Submit</button>

@_animalNames

@code{
    
    [Inject]
    public IOpenAIService OpenAiService { get; set; }

    private string _animalName = "";
    private string _animalNames = "";

    async Task GetAnimalNames()
    {
        if (string.IsNullOrEmpty(_animalName))
            return;

        _animalNames = await OpenAiService.GetAnimalNames(_animalName);
    }
}
